/*css reset*/

html{
    box-sizing: border-box;
    font-size: 100%;
	font: inherit;
}


  
*, *:before, *:after{
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul{
    list-style: none;
}
  
img{
    max-width: 100%;
    height: auto;
}

/*main cs*/
body{
    background-color: #ECEEF1;
}
/*HEADER*/

header{
    height: 10%;
    text-align: end;
    padding: 0.5rem 1rem 0 0;
}
header button{
    float: right;
    height: 2.5em;
    width: 6rem;
    margin-left: 1em;
}
header span{
    display: block;
}

/*SECTION*/

section{
    height: 80%;
}
section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    opacity: 0.7;
    margin: 2rem 0 1rem 0;
}
.container{
    height: 45rem;
    width: 24rem;
    margin: 20px auto 20px auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
}
h2{
    font-size: 24px;
    padding: 1rem 0 1rem 0;
    opacity: 0.8;
}
.perks{
    font-size: 16px;
    padding: 0.75em 0 0 0;
}
.container a{
    font-size: 14px;
    color: blue;
}
footer{
    height: 10%;
    background-color: gray;
}
